<% provide(:title, "About") %>
<h1>About ReCT</h1>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ReCT is Remote Collaborative Tutor designed specially to enhance the remote collabrative teaching mainly in the field of the Computer Science and Engineering.</p>
<p>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;This helps to improve te quality of the teaching and also boost the technical knowldege of the student and enhances their practical skills.
</p>
